@page
@model BeerbliotekWebApplication.Pages.MainPage.MainPageModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/index.css">
    <title>Document</title>
</head>
<body>
    <!--
    <header class="header-main">
        <div class="header-main-logo">
            <nav class="header-main-nav">
                <ul>
                    <li><a href="index.html">Beerbliotek</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-main-sm"></div>
    </header>
    -->
    <main>
        <div class="main-intro">
            <h1>Här kan du skapa<br>ett bibliotek över alla<br>dina favoritöl</h1>
            <h2>Ditt eget beerbliotek!</h2>
            <a href="#">?????</a>
        </div>
        

    </main>
    <aside> 
        <div class="main-side">

            <p>"Beerbliotek har"<br>verkligen förbättrad mitt liv"<br>-Bob</p>
            <p>"Kända<br> ölcitat"<br>-Jake</p>
        </div> </aside>
    
</body>
</html>